.page-container {
    background-color: black;
}

.back-to-top-button {
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 165px;
    font-size: 15px;
    border: none;
    color: white;
    font-family: rubik;
    background-color: darkslategray;
    padding: 10px 15px;
    letter-spacing: 1px;
}

/* navbar css */

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-bottom: 5%;
    font-family: rubik;
    padding-top: 10px;
}

.menu-icon {
    display: none;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
    letter-spacing: 2px;
    margin: 0 20px 0 0;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.nav-menu a:hover {
    color: darkslategray;
    transform: scale(2);
}

.jim-logo h3 {
    position: absolute;
    top: 23px;
    left: 20px;
    color: white;
    text-decoration: none;
    font-family: rubik;
}

.x-nav {
    opacity: 0;
}


@media screen and (max-width: 746px) {

    .x-nav {
        opacity: 1;
        color: white;
        width: 40px;
        transition: color 0.5s ease;
        padding-top: 50px;
    }

    .x-nav:hover {
        cursor: pointer;
        color: darkslategray;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: -100%;
        transition: all 1s ease;
    }   

    .menu-icon {
        display: block;
        position: absolute;
        top: 20px;
        right: 0;
        transition: all 1s ease;
        font-size: 28px;
        transform: translate(-100%, 60%);
        color: white;
    }

    .menu-icon:hover {
        cursor: pointer;
    }

    .jim-logo h3 {
        top: 53px;
    }

    .nav-menu.active {
        left: 0;
        top: 0;
        transition: all 0.5s ease;
        position: fixed;
        background-color: black;
        z-index: 1;
    }

    .nav-menu li {
        margin: 10px 0;
    }
}







/* home css */

.home-section {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  min-height: 100vh;
  width: 50%;
  padding-left: 100px;
}

.homebanner-container h1 {
    letter-spacing: -2px;
    margin-bottom: -10px;
    font-size: 85px;
    font-family: libre franklin;
    color: white;
}

.name-banner-container h1 {
    letter-spacing: -2px;
    margin-bottom: -10px;
    font-size: 85px;
    font-family: libre franklin;
    color: black;
}

.name-banner-container {
    padding-top: 100px;
}

.homebanner-container p {
    letter-spacing: 5px;
    font-size: 20px;
    font-family: rubik;
    color: darkslategray;
    font-weight: bolder;
}

.name-banner-container p {
    letter-spacing: 5px;
    font-size: 20px;
    font-family: rubik;
    color: darkslategrey;
    font-weight: bolder;
}

.about-me-container p {
    font-size: 17px;
    font-family: rubik;
    color: white;
}

.about-me-container button {
    width: 240px;
    border: 2px solid darkslategray;
    font-family: rubik;
    font-size: 15px;
    padding: 8px 5px;
    letter-spacing: 2px;
    background-color: transparent;
    color: darkslategray;
    transition: all 0.3s ease;
    margin-top: 30px;
}

.about-me-container button:hover {
    border-radius: 20px;
}

@media screen and (max-width: 963px) {

    .home-section {
        width: 90%;
        padding-left: 50px;
    }

    .homebanner-container h1 {
        font-size: 50px;
        margin-bottom: -5px;
    }

}








/* projects css */

.project-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
}

.project-title-container h1 {
    letter-spacing: -2px;
    font-size: 70px;
    font-family: libre franklin;
    color: black;
    margin-top: 50px;
}

.project-title-container p {
    font-family: rubik;
}

.projects-container {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.bc-nails-block,
.quiz-block,
.boba-block,
.weather-block,
.magic-8-block,
.blockchain-block,
.gym-block {
    width: 400px;
    border: none;
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
    transition: all 1s ease;
    box-shadow: 0 0 40px lightgray;
}

.bc-nails-block h4,
.quiz-block h4,
.boba-block h4,
.weather-block h4,
.magic-8-block h4,
.blockchain-block h4,
.gym-block h4 {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1)1s;
    color: black;
    font-family: rubik;
}

.bc-nails-block h1,
.quiz-block h1,
.boba-block h1,
.weather-block h1,
.magic-8-block h1,
.blockchain-block h1,
.gym-block h1 {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1)1s;
    color: white;
    padding: 15px 20px;
    border-radius: 60%;
    background-color: darkslategray;
    margin-top: 20px;
}

.bc-nails-block:hover h1,
.quiz-block:hover h1,
.boba-block:hover h1,
.weather-block:hover h1,
.magic-8-block:hover h1,
.blockchain-block:hover h1,
.gym-block:hover h1 {
    transform: scale(1.3);
}

.bc-nails-block button,
.quiz-block button,
.boba-block button,
.weather-block button,
.magic-8-block button,
.blockchain-block button,
.gym-block button {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1)1s;
    font-family: rubik;
    border: 1px solid black;
    width: 120px;
    padding: 3px 0;
    background-color: transparent;
    color: black;
    margin-top: 20px;
}

.bc-nails-block:hover button,
.quiz-block:hover button,
.boba-block:hover button,
.weather-block:hover button,
.magic-8-block:hover button,
.blockchain-block:hover button,
.gym-block:hover button {
    transform: scale(1.2);
}

@media screen and (max-width: 746px) {

    .project-section {
        margin-bottom: 100px;
    }

    .project-title-container h1 {
        font-size: 55px;
        text-align: center;
    }

}

@media screen and (max-width: 430px) {

    .project-section {
        margin-bottom: 100px;
    }

    .project-title-container h1 {
        font-size: 40px;
        text-align: center;
    }

    .bc-nails-block,
    .quiz-block,
    .boba-block,
    .weather-block,
    .magic-8-block,
    .blockchain-block,
    .gym-block {
        box-shadow: none;
        width: 60%;
        margin: 0;
    }


    /* .bc-nails-block h1,
    .quiz-block h1,
    .boba-block h1,
    .weather-block h1,
    .magic-8-block h1,
    .blockchain-block h1 {
        display: none;
    } */

    .bc-nails-block button,
    .quiz-block button,
    .boba-block button,
    .weather-block button,
    .magic-8-block button,
    .blockchain-block button,
    .gym-block button {
        margin-top: 10px;
    }


    .bc-nails-block h4,
    .quiz-block h4,
    .boba-block h4,
    .weather-block h4,
    .magic-8-block h4,
    .blockchain-block h4,
    .gym-block h4 {
        font-size: 15px;
    }

}










/* skills css */

.skills-section {
    min-height: 100vh;
  }
  
  .skills-and-experience-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .skills
  {
    display: flex;
    flex-wrap: wrap;
  }
  
  .skills-container,
  .experience-container
  {
    width: 50%;
    height: 500px;
  }

  .skills-container h1,
  .experience-container h1 {
    font-size: 60px;
    color: white;
    font-family: libre franklin;
    text-align: center;
  }

  .skills-container p
  {
    color: white;
    font-family: rubik;
  }

  .skills-container span {
    color: goldenrod;
  }

  .skills
  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }

  .skills-container p {
    text-align: center;
  }
  
  .html-logo,
  .css-logo,
  .js-logo,
  .python-logo,
  .bootstrap-logo,
  .react-logo
  {
      width: 130px;
      /* opacity: 0.47; */
      transition: opacity 0.5s ease;
      margin: 20px;
  }
  
  .render-logo {
      width: 170px;
      height: 90px;
      /* opacity: 0.47; */
      transition: opacity 0.5s ease;
      margin: 12px 0 20px 0;
  }

  .github-logo {
    width: 130px;
    height: 115px;
    /* opacity: 0.47; */
    transition: opacity 0.5s ease;
    margin: 0 20px;
  }
  
  /* .html-logo:hover,
  .css-logo:hover,
  .js-logo:hover,
  .python-logo:hover,
  .bootstrap-logo:hover,
  .react-logo:hover,
  .github-logo:hover,
  .render-logo:hover
  {
      opacity: 1;
      transition: opacity 0.5s ease;
  } */

  .experience {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .work-1-container,
  .work-2-container,
  .work-3-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    margin: 30px 0;
  }

  .work-1-container h4,
  .work-2-container h4,
  .work-3-container h4 {
    color: darkslategray;
  }

  .work-1-container ul,
  .work-2-container ul,
  .work-3-container ul {
    list-style-type: circle;
  }

  .work-1-container li,
  .work-2-container li,
  .work-3-container li {
    color: white;
  }

  @media screen and (max-width: 746px) {
    
    .skills-and-experience-container {
        flex-direction: column;
        min-height: 100vh;
    }

    .skills-container h1,
    .experience-container h1
    {
        font-size: 55px;
    }

    .skills-container,
    .experience-container
  {
    width: 50%;
    height: 800px;
  }

    .html-logo,
    .css-logo,
    .js-logo,
    .python-logo,
    .bootstrap-logo,
    .react-logo
  {
      width: 80px;
  }
  
  .render-logo {
      width: 120px;
      height: 70px;
  }

  .github-logo {
    width: 80px;
    height: 80px;
  }

  .experience-container {
    margin: 100px 0 200px 0;
  }

  .work-1-container,
  .work-2-container,
  .work-3-container {
    width: 100%;
  }

  .work-1-container h4,
  .work-2-container h4,
  .work-3-container h4 {
    font-size: 18px;
  }

  }

  @media screen and (max-width: 430px) {
    

    .skills-container,
    .experience-container
    {
        width: 80%;
    }

    .skills-and-experience-container {
        flex-direction: column;
    }

    .skills-container h1,
    .experience-container h1
    {
        font-size: 40px;
    }

    .html-logo,
    .css-logo,
    .js-logo,
    .python-logo,
    .bootstrap-logo,
    .react-logo
  {
      width: 80px;
  }
  
  .render-logo {
      width: 120px;
      height: 70px;
  }

  .github-logo {
    width: 80px;
    height: 80px;
  }

  .work-1-container,
  .work-2-container,
  .work-3-container {
    width: 100%;
  }

  .work-1-container h4,
  .work-2-container h4,
  .work-3-container h4 {
    font-size: 18px;
  }

  }






/* contact css*/

.contact-section {
  padding-left: 100px;
  min-height: 100vh;
  background-color: white;
}

.personal-links-row {
    list-style-type: none;
    padding: 0;
    transition: all 0.5s ease;
}

.linked-in-link,
.github-link,
.resume-link
{
    color:white;
}

.personal-links-row li,
.personal-links-row p
{
    border: none;
    border-radius: 50%;
    padding: 5px 10px;
    width: 54px;
    font-size: 32px;
    color: black;
}

.github-link,
.resume-link
{
    margin-left: 8px;
}

.personal-links-row li:hover,
.personal-links-row p:hover
{
    cursor: pointer;
    background-color: darkslategray;
    color: white;
    border: none;
}

.email-text,
.phone-text,
.linked-in-text,
.github-text,
.resume-text
{
    opacity: 0;
    transition: opacity 0.3s;
    font-family: rubik;
    position: absolute;
    background-color: darkslategray;
    color: white;
    padding: 3px 20px;
    letter-spacing: 2px;
    border-radius: 30px;
}

.send-message-container {
    margin-top: 100px;
    width: 50%;
}

.f-name,
.email,
.message {
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid black;
    font-family: rubik;
    padding: 3px;
    background-color: transparent;
    color: black;
    letter-spacing: 1.5px;
}

.f-name {
    margin-right: 3%;
}

.email,
.message,
.f-name {
    width: 83%;
}

.f-name::placeholder,
.email::placeholder,
.message::placeholder {
    opacity: 0.7;
}

.f-name:focus,
.email:focus,
.message:focus {
    outline: none;
}

.send-message-container button
{
    width: 240px;
    border: 2px solid black;
    font-family: rubik;
    font-size: 15px;
    padding: 8px 5px;
    letter-spacing: 2px;
    background-color: transparent;
    color: black;
    transition: all 0.3s ease;
    margin-top: 30px;
}

.send-message-container button:hover
{
   border-radius: 20px;
}

.error-msg {
    font-family: rubik;
}

.sent-message-container h2 {
    color: white;
    font-family: rubik;
}

@media screen and (max-width: 430px) {

    .contact-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-left: 0;
    }

    .send-message-container {
        width: 90%;
        padding-left: 50px;
    }
}







/* resume */

.resume-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.resume-container h1 {
    background-image:url(images/resume.png);
    background-size: cover;
    height: 750px;
    width: 600px;
}

.resume-container button {
    width: 240px;
    border: 1px solid black;
    font-family: rubik;
    font-size: 15px;
    padding: 8px 5px;
    letter-spacing: 2px;
    background-color: transparent;
    color: black;
    transition: all 0.3s ease;
    margin-bottom: 20px;
}

.resume-container button:hover {
    border-radius: 20px;
}

@media screen and (max-width: 430px) {

    .resume-container h1 {
        background-size: cover;
        height: 500px; 
        width: 400px;
    }

    .resume-container button {
        width: 180px;
        font-size: 10px;
        padding: 4px 8px;
    }
}
